<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aimar.shishahelper">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/shishalogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/shishalogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShishaHelper"
        android:name="androidx.multidex.MultiDexApplication"
        >
        <activity android:name=".Activities.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.AuthActivity"/>
		<activity android:name=".Activities.listaSaboresActivity" />
        <activity android:name=".Activities.MezclasActivity" />
        <activity android:name=".Activities.AddSaborActivity" />
        <activity android:name=".Activities.HomeActivity" />
        <activity android:name=".Activities.AddMezclaActivity" />

    </application>

</manifest>